In [1]:
import pandas as pd

In [2]:
dtypes = {"ride_id": str,
          "rideable_type": str,
          "started_at": pd.Timestamp,
          "ended_at": pd.Timestamp,
          "start_station_name": "str",
          "start_station_id": "str",
          "end_station_name": "str",
          "end_station_id": "str",
          "start_lat": float,
          "start_lng": float,
          "end_lat": float,
          "end_lng": float,
          "member_casual": "str"}
data_feb_23 = pd.read_csv(r"C:\Users\ccana\OneDrive\Public\Documents\Tableau homework\Data\JC-202402-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
data_march_23 = pd.read_csv(r"C:\Users\ccana\OneDrive\Public\Documents\Tableau homework\Data\JC-202403-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
data_april_23 = pd.read_csv(r"C:\Users\ccana\OneDrive\Public\Documents\Tableau homework\Data\JC-202404-citibike-tripdata.csv", header=0, parse_dates=[2, 3])
print(data_feb_23.shape)
print(data_march_23.shape)
print(data_april_23.shape)

(55613, 13)
(65581, 13)
(79116, 13)

In [3]:
data_feb_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55613 entries, 0 to 55612
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             55613 non-null  object
 1   rideable_type       55613 non-null  object
 2   started_at          55613 non-null  datetime64[ns]
 3   ended_at            55613 non-null  datetime64[ns]
 4   start_station_name  55607 non-null  object
 5   start_station_id    55607 non-null  object
 6   end_station_name    55484 non-null  object
 7   end_station_id      55484 non-null  object
 8   start_lat           55613 non-null  float64
 9   start_lng           55613 non-null  float64
 10  end_lat             55597 non-null  float64
 11  end_lng             55597 non-null  float64
 12  member_casual       55613 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 5.5+ MB

In [4]:
print(data_feb_23['rideable_type'].value_counts())
print(data_feb_23['member_casual'].value_counts())

rideable_type
electric_bike    32216
classic_bike     23397
Name: count, dtype: int64
member_casual
member    46664
casual     8949
Name: count, dtype: int64

In [5]:
map_rideable_type = {"classic_bike": "C",
                     "electric_bike": "E",
                     "docked_bike": "D"}
map_member_casual = {"member": True,
                     "casual": False}

df_all_trip_data = pd.concat([data_feb_23, data_march_23, data_april_23])
df_all_trip_data.drop("ride_id", axis=1, inplace=True)  # don't need id column
df_all_trip_data.dropna(axis=0, inplace=True)  # drop any row with missing data
# map strings to shorter values
df_all_trip_data["rideable_type"] = df_all_trip_data["rideable_type"].map(map_rideable_type)
df_all_trip_data["member_casual"] = df_all_trip_data["member_casual"].map(map_member_casual)
print(df_all_trip_data.shape)
df_all_trip_data.info()

(199674, 12)
<class 'pandas.core.frame.DataFrame'>
Index: 199674 entries, 0 to 79115
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rideable_type       199674 non-null  object
 1   started_at          199674 non-null  datetime64[ns]
 2   ended_at            199674 non-null  datetime64[ns]
 3   start_station_name  199674 non-null  object
 4   start_station_id    199674 non-null  object
 5   end_station_name    199674 non-null  object
 6   end_station_id      199674 non-null  object
 7   start_lat           199674 non-null  float64
 8   start_lng           199674 non-null  float64
 9   end_lat             199674 non-null  float64
 10  end_lng             199674 non-null  float64
 11  member_casual       199674 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(4), object(5)
memory usage: 18.5+ MB

In [6]:
df_all_trip_data.to_csv('data/citibike_feb_march_april_23.csv', index=False, header=True)